head
    block metas
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title= title

    block favicons
        link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='/images/logo/KFV-Logo-blau.svg')

    block externalStyles
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/uikit@3.15.0/dist/css/uikit.min.css')

    block styles
        link(rel='stylesheet', href='/stylesheets/style.css')