nav.uk-navbar-container.uk-margin.uk-padding-small(uk-navbar='')
    .uk-navbar-center
        a.uk-navbar-item.uk-logo(href='/')
            img.uk-img.uk-width-1-1.nav-logo(src='/images/logo/KFV-Logo-blau.svg')
        ul.uk-navbar-nav
            li
                a(href='#') Statistics
                    .uk-navbar-dropdown
                        ul.uk-nav.uk-navbar-dropdown-nav
                            li(class="#{ title === 'Graph' ? 'uk-active' : '' }")
                                a(href='/statistics/graph') Graph
            li
                a(href='#') About Us
                .uk-navbar-dropdown
                    ul.uk-nav.uk-navbar-dropdown-nav
                        li(class="#{ title === 'History' ? 'uk-active' : '' }")
                            a(href='/about-us/history') History
                        li(class="#{ title === 'Team' ? 'uk-active' : '' }")
                            a(href='/about-us/team') Team
            li
                a(href='/contact') Contact