extends layout

block content
    h1= title
    hr

    form#contactForm
        fieldset.uk-fieldset.uk-margin-medium-top
            legend.uk-legend Contact Form
            .uk-margin
                input.uk-input(type='text', placeholder='Name', name='contactName')
            .uk-margin
                label Abteilung auswählen
                select(name='contactAbteilung').uk-select
                    option Versicherungsabteilung
                    option Öffentliche Beziehung
                    option Allgemeine Fragen
            .uk-margin
                textarea(name='contactNachricht').uk-textarea(rows='5', placeholder='Nachricht')
            .uk-margin.uk-grid-small.uk-child-width-auto.uk-grid
                legend Wie möchten Sie kontaktiert werden
                label
                    input.uk-radio(type='radio', name='radioKontaktType', checked='')
                    |  per Email
                label
                    input.uk-radio(type='radio', name='radioKontaktType')
                    |  via Telefon
            .uk-margin
                button.uk-button.uk-button-default Submit

    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2661.1307328662747!2d16.376374216097584!3d48.16556157922571!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476da9be512c50b9%3A0xdb86a930c1022c44!2sKFV%20(Kuratorium%20f%C3%BCr%20Verkehrssicherheit)!5e0!3m2!1sen!2sat!4v1657638597147!5m2!1sen!2sat', width='100%', height='450', style='border:0;', allowfullscreen='', loading='lazy', referrerpolicy='no-referrer-when-downgrade').uk-margin-large-bottom.uk-margin-large-top