extends layout

block content
    h1= title
    p Welcome to #{websiteName}

    .uk-flex.uk-flex-center
        a(href='/statistics/graph').uk-card.uk-card-default.uk-card-body.uk-text-decoration-none Graph
        a(href='/about-us/history').uk-card.uk-card-default.uk-card-body.uk-margin-left.uk-text-decoration-none History
        a(href='/about-us/team').uk-card.uk-card-default.uk-card-body.uk-margin-left.uk-text-decoration-none Team
        a(href='/contact').uk-card.uk-card-default.uk-card-body.uk-margin-left.uk-text-decoration-none Contact