doctype html
html
    block head
        include inc/head
body
    .uk-container-expand
        include inc/nav
        .uk-container
            block content
        include ./inc/footer

    script(src='https://cdn.jsdelivr.net/npm/uikit@3.15.0/dist/js/uikit.min.js')
    script(src='https://cdn.jsdelivr.net/npm/uikit@3.15.0/dist/js/uikit-icons.min.js')