extends ../layout

block content
    h1= title
    hr

    .uk-panel.uk-margin-medium-bottom
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit #{startYear}. Accusantium alias assumenda at debitis dignissimos doloribus #{toCorporateYear} ducimus incidunt, ipsa sunt ullam.
        p.uk-text-lead Lorem ipsum dolor sit amet #{currentYear}, consectetur.

    .uk-panel.uk-margin-medium-bottom
        img.uk-align-center.uk-margin-remove-adjacent(class='uk-align-right@m', src='/images/posts/Helmi-@KFV.jpg', width='225', height='150', alt='Example image')
        p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at blanditiis consequatur consequuntur deserunt dignissimos distinctio dolorem doloremque dolorum, ea enim esse id magnam minima mollitia nam neque odio officia, quas quo sequi soluta tempora unde veritatis voluptates? A accusamus accusantium aperiam asperiores commodi consequatur dolore esse eum eveniet facilis, incidunt inventore modi nemo porro quibusdam quisquam quo quod ratione rem tenetur velit vero voluptatem! Exercitationem optio placeat repellendus sapiente?

    .uk-grid-small.uk-grid-match(class='uk-child-width-1-3@m uk-margin-large-bottom', uk-grid='')
        div
            .uk-card.uk-card-default.uk-card-body
                h3.uk-card-title SCHULUNGEN
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        div
            .uk-card.uk-card-primary.uk-card-body
                h3.uk-card-title TRAININGS
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        div
            .uk-card.uk-card-secondary.uk-card-body
                h3.uk-card-title TOOLS & TESTS
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

    .uk-panel.uk-margin-medium-bottom
        img.uk-align-center.uk-margin-remove-adjacent(class='uk-align-left@m', src='/images/posts/172_20220623_k_medium.jpg', width='225', height='150', alt='Example image')
        p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at blanditiis consequatur consequuntur deserunt dignissimos distinctio dolorem doloremque dolorum, ea enim esse id magnam minima mollitia nam neque odio officia, quas quo sequi soluta tempora unde veritatis voluptates? A accusamus accusantium aperiam asperiores commodi consequatur dolore esse eum eveniet facilis, incidunt inventore modi nemo porro quibusdam quisquam quo quod ratione rem tenetur velit vero voluptatem! Exercitationem optio placeat repellendus sapiente?