extends ../layout

block content
    h1= title
    hr

    div(class='uk-child-width-1-2@m uk-margin-medium-bottom', uk-grid='')
        each teamMember in teamMembers
            .uk-card.uk-card-default
                .uk-card-media-top
                    img(src='#{teamMember.imagePath}', width='1800', height='1200', alt='#{teamMember.firstName + ' ' + teamMember.lastName}')
                .uk-card-body
                    h3.uk-card-title #{teamMember.firstName + ' ' + teamMember.lastName + ', ' + teamMember.age}
                    p
                        | #{teamMember.position}