extends ../layout

block content
    h1= title
    hr

    canvas#myChart

    script(src='https://cdn.jsdelivr.net/npm/chart.js')
    script(src='https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2')
    script(type='text/javascript').
        const data = {
            labels: [#{labels}],
            datasets: [
                {
                    label: 'Wien',
                    fill: true,
                    backgroundColor: 'rgb(173, 215, 227)',
                    borderColor: 'rgb(57, 152, 184)',
                    data: [#{getoeteteWien}],
                },
                {
                    label: 'Voralberg',
                    fill: true,
                    backgroundColor: 'rgb(241, 181, 182)',
                    borderColor: 'rgb(216, 70, 76)',
                    data: [#{getoeteteVor}],
                },
                {
                    label: 'Tirol',
                    fill: true,
                    backgroundColor: 'rgb(241, 224, 152)',
                    borderColor: 'rgb(223, 174, 12)',
                    data: [#{getoeteteTirol}],
                },
                {
                    label: 'Steiermark',
                    fill: true,
                    backgroundColor: 'rgb(244, 247, 168)',
                    borderColor: 'rgb(230, 231, 42)',
                    data: [#{getoeteteSteir}],
                },
                {
                    label: 'Salzburg',
                    fill: true,
                    backgroundColor: 'rgb(181, 209, 231)',
                    borderColor: 'rgb(72, 139, 192)',
                    data: [#{getoeteteSalz}],
                },
                {
                    label: 'Oberösterreich',
                    fill: true,
                    backgroundColor: 'rgb(183, 219, 207)',
                    borderColor: 'rgb(78, 165, 133)',
                    data: [#{getoeteteOber}],
                },
                {
                    label: 'Niederösterreich',
                    fill: true,
                    backgroundColor: 'rgb(242, 242, 242)',
                    borderColor: 'rgb(220, 222, 219)',
                    data: [#{getoeteteNieder}],
                },
                {
                    label: 'Kärnten',
                    fill: true,
                    backgroundColor: 'rgb(221, 189, 213)',
                    borderColor: 'rgb(164, 91, 155)',
                    data: [#{getoeteteKaertner}],
                },
                {
                    label: 'Burgenland',
                    fill: true,
                    backgroundColor: 'rgb(153, 182, 214)',
                    borderColor: 'rgb(18,76,142)',
                    data: [#{getoeteteBurg}],
                }
            ]
        };

        const config = {
            type: 'line',
            data: data,
            plugins: [
                ChartDataLabels,
                {
                    afterDraw: chart => {
                        if (chart.tooltip?._active?.length) {
                            let x = chart.tooltip._active[0].element.x;
                            let yAxis = chart.scales.y;
                            let ctx = chart.ctx;
                            ctx.save();
                            ctx.beginPath();
                            ctx.moveTo(x, yAxis.top);
                            ctx.lineTo(x, yAxis.bottom);
                            ctx.lineWidth = 1;
                            ctx.strokeStyle = '#787574';
                            ctx.stroke();
                            ctx.restore();
                        }
                    }
                }
            ],
            options: {
                scales: {
                    y: {
                        stacked: true,
                        ticks: {
                            stepSize: 200
                        },
                        title: {
                            display: true,
                            text: 'Getötete',
                            font: {
                                size: 20
                            }
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Berichtsjahr',
                            font: {
                                size: 20
                            }
                        }
                    }
                },
                plugins: {
                    datalabels: {
                        align: 'bottom'
                    }
                },
                interaction: {
                    intersect: false,
                    mode: 'index',
                }
            }
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );